body{
	min-height: 200vh; 
}

.logo{
	font-weight: 300;
	padding-left: 10px;
}

.thin-text{
	font-weight: 300;
	background: #455a64 ; 
	padding: -40px;
	border-radius: 10px;
}

.cta{
	font-weight: 300;
	text-shadow: 1px 1px black;
}